//colors
$bg-intro:  hsl(217, 28%, 15%);
$bg-main: hsl(218, 28%, 13%);
$bg-footer: hsl(216, 53%, 9%);
$bg-testimonials: hsl(219, 30%, 18%);
$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$ltred: hsl(0, 100%, 63%);
$white: hsl(0, 0%, 100%);

//spacing
$xsmall: 1rem;
$small: 1.5rem;
$medium: 3rem;
$large: 6rem;
$xlarge: 8rem;
$padding-main: 2.3rem;

//font styles
$raleway: 'Raleway', sans-serif;
$opensans: 'Open Sans', sans-serif;